*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 920px;
    margin:auto;
    display: flex;
    text-align: center;
    background-color: orange;
    border: 1px dashed black;
}

nav{
    background-color: aquamarine;
    padding: 0.5rem;
}

.logo {
    width: 15%;
    border-right: 1px dashed black;
}

.login {
    width: 15%;
    border-left: 1px dashed black;
}

.cosi {
    width: 70%;
}

