*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 920px;
    margin:auto;
    display: flex;
    text-align: center;
    background-color: orange;
    border: 1px dashed black;
}

nav{
    background-color: aquamarine;
    padding: 0.5rem;
}

.logo {
    width: 15%;
    border-right: 1px dashed black;
}

.login {
    width: 15%;
    border-left: 1px dashed black;
}

.cosi {
    width: 70%;
}




.rettangolo-rosa{
    height: 250px;
    border: 1px dashed black;
    background-color: pink;
    width: 700px;
    margin: auto;

}

.blu{
    background-color: blue;
    margin: auto;
    padding: 30px;
}

.container-main{
    width: 920px;
    margin: auto;
    padding: 30px 0;
    height: 250px;
    display: flex;
    
}


.rettangolo-blu{
   background-color: aqua;
    width: 70%;
    height: 100%;
    border: 1px dashed black;
}

.quadrato-rosa{
    background-color: pink;
    height: 100%;
    width: 30%;
    border: 1px dashed black;
}

.grigio{
    background-color: gray;
    }

